#=== Arquivo de configuração de IP e DNS===#

# Identificação da interface de rede.
Interface = eth0

# Configurações de IP.
IP = 192.168.72.235
MASK = 24
Gateway = 192.168.72.1

# Configurações de DNS.
DNS = 8.8.8.8, 8.8.4.4, 1.1.1.1
